.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.centered {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.centered-button {
  margin: 3% 0 0 34%;
  padding: 0 20% 0 20%;
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}

.centered-button-form {
  margin: 3% 0 0 20%;
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}

.main-button {
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}

.nav-container {
  position: fixed !important;
  width: 100% !important;
  z-index: 999;
  background: rgb(76, 125, 128);
  color: whitesmoke;
  margin: 0;
  max-height: 11% !important;
  min-height: 11% !important;
  padding: 1.5em;
  font-weight: 200;
}

.none-list {
  list-style: none;
  color: whitesmoke;
}

li {
  margin-left: 0.8em;
  padding: 0.5em;
}
.white {
  color: whitesmoke !important;
  font-size: 16px !important;
}
.error-message {
  color: #cb4587;
}
.error-message::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 3px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

/* button {
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  letter-spacing: 5px;
  display: block;
  background: rgb(112, 128, 144);
  border-radius: 4px;
  font-weight: 100;
} */

/* button:hover {
  background: #bf1650 !important;
} */

/* button:active {
  transition: 0.3s all !important;
  transform: translateY(3px) !important;
  border: 1px solid transparent !important;
  opacity: 0.8 !important;
} */

/* input[type="button"]:hover {
  transition: 0.3s all;
} */

/* button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    appearance: none;
  } */

.personal {
  padding: 10px 15px;
  margin: 15px 15px 20px;
  font-weight: 100 !important;
  font-size: 13px !important;
  color: white !important;
  border-radius: 4px;
  text-transform: uppercase;
  min-width: 150px;
  vertical-align: middle !important;
}
.right {
  margin-left: 0px;
  margin-top: 0px;
}
.main {
  margin: 0px;
  padding: 20px !important;
  font-size: 15px !important;
}
.display-5 {
  font-weight: 100;
}
.sleepy-table {
  font-size: 11px;
  color: white !important;
  vertical-align: middle;
  text-align: center !important;
  font-weight: 500 !important;
  vertical-align: middle !important;
  /* text-transform: uppercase; */
}
td {
  font-size: 12px;
  color: #403e3f;
}

.form-nap-start {
  width: 41% !important;
  margin-left: 3%;
  margin-right: 7%;
}
.form-nap-end {
  width: 41% !important;
  display: inline;
  margin-left: 5%;
}
.table-result {
  text-transform: none !important;
}
.table-comments {
  text-transform: uppercase !important;
  background-color: rgb(128, 60, 125) !important;
  vertical-align: middle !important;
  font-size: 11px !important;
  color: white;
}
.table-head {
  text-transform: uppercase !important;
  background-color: rgb(76, 125, 128);
  vertical-align: middle !important;
}
.ok-cell {
  background-color: rgb(128, 60, 125) !important;
}
.no-ok-cell {
  background-color: rgb(125, 128, 60) !important;
  color: white;
}
.margin-top {
  margin-top: 5%;
}
.color-text {
  color: rgb(60, 125, 128);
}

.nav-link {
  color: rgb(60, 125, 128) !important;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover,
.white:hover {
  color: #bf1650 !important;
  text-decoration: none !important;
}
h6,
h5 {
  color: #bf1650;
  font-weight: 300 !important;
}
.row > * {
  width: auto !important;
}
a {
  text-decoration: none !important;
}
.display-block {
  display: block !important;
  width: 31%;
}
.display-inline {
  display: flex !important;
}
.delete-btn {
  background-color: #bf1650 !important;
  padding: 10px !important;
  letter-spacing: 2px !important;
}
.footer {
  font-weight: 400;
  color: rgb(76, 125, 128);
  font-size: 12px;
  text-align: end;
  margin-bottom: -35px;
}
span .footer {
  margin-bottom: -10px !important;
}
.modal-title {
  border-radius: 4px 4px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #bf1650;
  background-color: white;
  margin: 10px;
}
.modal-button {
  margin-right: 20px !important;
  padding: 10px !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
}
.modal-signup {
  margin-right: 1% !important;
  padding: 20px !important;
  font-size: 13px !important;
  letter-spacing: 2px !important;
}
.modal-update {
  margin-right: 3% !important;
  padding: 20px !important;
  font-size: 13px !important;
  letter-spacing: 2px !important;
}
.art-text {
  font-weight: 100 !important;
  font-size: 14px !important;
}
.art-text-strong {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.art-centered {
  margin-left: 33%;
}
.padding-button {
  padding: 10px !important;
  letter-spacing: 2px !important;
}
.sm-btn {
  letter-spacing: 1px !important;
  padding: 1px !important;
  font-size: 9px !important;
  width: 50px;
  margin: 5px;
}

#hover-color:hover {
  background: rgb(125, 128, 60) !important;
  color: white;
}
#hover-delete:hover {
  background: rgb(128, 60, 125) !important;
  color: white;
}
#table-width {
  width: 60rem;
}
.anchor {
  font-size: 10px !important;
  font-weight: 400 !important;
  color: #bf1650 !important;
  margin: 1px;
}
.search {
  position: absolute;
  top: 24.99%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}
.middle-vertical {
  margin-top: 9% !important;
  vertical-align: middle !important;
}
p {
  font-weight: 300 !important;
  font-size: 17px;
}
.link-tips {
  color: white !important;
  font-size: 12px !important;
}
.link-tips:hover {
  color: #bf1650 !important;
  text-decoration: none !important;
}
.link-hover:hover {
  color: #bf1650 !important;
  text-decoration: none !important;
}
.center {
  text-align: center;
}
.art-color {
  color: #bf1650 !important;
}
.margin-top {
  margin-top: 5%;
  font-size: 15px;
}
.gm-hui-hover-effect [role="button"] {
  display: none !important;
  z-index: -1234134 !important;
}
#info-window {
  color: #cb4472 !important;
}
