.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.centered-button {
  margin: 3% 0 0 34%;
  padding: 0 20% 0 20%;
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}

.centered-button-form {
  margin: 3% 0 0 20%;
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}

.main-button {
  background-color: rgb(60, 125, 128) !important;
  border-color: rgb(60, 125, 128) !important;
}
.nav-container {
  position: fixed;
  width: 100% !important;
  z-index: 999;
  background: rgb(76, 125, 128);
  color: whitesmoke;
  margin: 0;
  height: 15%;
  padding: 1.5em;
}

.nav-container-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: space-evenly;
  margin-top: -2em;
  list-style: none;
  color: whitesmoke;
}

li {
  margin-left: 0.8em;
  padding: 0.5em;
}
.white {
  color: whitesmoke !important;
}
.error-message {
  color: #cb4587;
}
.error-message::before {
  display: inline;
  content: "⚠ ";
}
.h-100 {
  height: auto important!;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 3px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 5px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  appearance: none;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: rgb(112, 128, 144);
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 4px;
  font-weight: 100;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 13px;
  font-weight: 10px;
}

.personal {
  margin-top: 25px;
  margin-bottom: 40px;
}
.display-5 {
  font-weight: 100;
}
.sleepy-table {
  font-size: 9px;
  color: white !important;
  vertical-align: middle !important;
  text-align: center !important;
  width: 60rem !important;
  font-weight: 10 !important;
  text-transform: uppercase;
}
td {
  font-size: 10px;
  color: #ebf2f2;
}
.form-signup {
  position: relative;
  margin-left: 22%;
  margin-top: 1%;
  display: inline-block;
  width: 33%;
}

.form-nap-start {
  width: 41% !important;
  margin-left: 3%;
  margin-right: 7%;
}
.form-nap-end {
  width: 41% !important;
  display: inline;
  margin-left: 5%;
}
.table-result {
  text-transform: none;
}
.table-comments {
  text-transform: uppercase;
  background-color: rgb(128, 60, 125);
  vertical-align: middle !important;
  font-size: 11px;
}
.table-head {
  background-color: rgb(76, 125, 128);
}
.ok-cell {
  background-color: rgb(128, 60, 125);
}
.no-ok-cell {
  background-color: rgb(125, 128, 60);
}
